<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- console appender -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="debug" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p] [%t %c{1}] %m%n" />
		</layout>
	</appender>

	<!-- DailyRollingFileAppender -->
	<appender name="infoLog"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="info.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="info" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy/MM/dd HH:mm:ss.SSS} %p %t [%c] %m%n" />
		</layout>
	</appender>

	<!-- RollingFileAppender -->
	<appender name="debugLog"
		class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="File" value="debug.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="debug" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy/MM/dd HH:mm:ss.SSS} %p %t [%c] %m%n" />
		</layout>
	</appender>

	<!-- new appender -->
	<appender name="new" class="org.apache.log4j.FileAppender">
		<param name="File" value="new.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="info" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy/MM/dd HH:mm:ss.SSS} %p %t [%c] %m%n" />
		</layout>
	</appender>

	<!-- old appender -->
	<appender name="old" class="org.apache.log4j.FileAppender">
		<param name="File" value="old.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="info" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy/MM/dd HH:mm:ss.SSS} %p %t [%c] %m%n" />
		</layout>
	</appender>

	<!-- new category 
	<category name="test.jboss.messaging.queue.QueueProducer">
		<level value="info" />
		<appender-ref ref="new" />
	</category>-->

	<!-- old category 
	<category name="test.jboss.MQ.queue.QueueProducer">
		<level value="info" />
		<appender-ref ref="old" />
	</category>-->
	
	<!-- debug 
	<logger name="test">
		<level value="debug" />
		<appender-ref ref="debugLog" />
	</logger>-->

	<!-- root -->
	<root>
		<level value="debug" />
		
		<!-- console -->
		<appender-ref ref="console" />
		
		<!-- info 
		<appender-ref ref="infoLog" />-->
	</root>

</log4j:configuration>
