========================================================= 
　　　 　外国為替オンライン取引「ACTIVE FOREX」 
　　　　【　マージンコール警戒のご連絡　　】 
========================================================= 

$customerName様
【$customerId】

日頃よりライブドアコモディティをご愛顧賜りまして、 
誠にありがとうございます。 
こちらはActivefxお客様センターです。

$currentTimeにお客様の口座の注文可能金額が
維持証拠金の金額を下回りましたのでご連絡致します。

このまま注文可能金額が維持証拠金を下回り
0になってしまいますとマージンコールが発生し、
すべてのポジションが強制決済されてしまいますので
早急にポジションの整理、若しくは追加のご入金を
お願い致します。


ご質問およびご不明な点等ございましたら、 
何なりと下記の連絡先までお問合せください。

=========================================================
　　　株式会社ライブドアコモディティ　外国為替部
　　　〒103-0026　
　　　東京都中央区日本橋兜町１３−２　兜町偕成ビル３Ｆ　　
　　　TEL $tel
　　　（受付時間 月〜土 7：00〜7：00 24時間対応） 
　　　FAX 03-3666-8677
　　　E-mail：$mail 
=========================================================

