<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:mysql://10.15.2.222/BOMAIN</property>
        <property name="hibernate.connection.username">MAIN</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerMailNotification" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoPremiumControl" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerCashback" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoReportCustBalanceLink" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoOrder" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoLadderRiskSummary" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoProductRiskControl" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCashflowSnapshot" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoGroupSnapshot" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.Test" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerNotice" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoInstrumentSnapshot" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BatchJobInstance" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoManualTickInfo" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCashbackConfigItem" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BatchStepExecutionContext" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoDepositWithdrawalSnapshot" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoContract" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BatchStepExecution" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoDepositWithdrawal" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoProductRiskConfig" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoTickInfo" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCashflow" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoGroupInstrumentBind" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoSystemInstrumentPl" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoDelegatedDwDetail" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoNotice" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoPerson" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerBalanceSnapshot" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCsOperatorRoleBind" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoMarket" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoNewsSource" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerStatus" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoLeaveOrder" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCsRolePrivilegeBind" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerBalance" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomer" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerBankAccount" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoReportExecutionLink" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoGroup" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoSystemConfig" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerConstraintBackup" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoSystemRiskConfig" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCsMenu" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BatchJobSeq" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoInstrumentRiskConfig" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoIdGenerator" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerInfoChangeLog" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerLink" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoDelegatedDw" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.Test1" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoArtificial" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.Test2" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCounterparty" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCsExecutionCorrection" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoReportOrderLink" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoReportConfig" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoProduct" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BatchJobExecutionContext" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BatchJobParams" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCounterpartyControl" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BatchJobExecution" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoSystemRiskControl" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerMailAddress" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoSpreadControl" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoMailTemplate" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCashbackConfig" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerSequenceGenerator" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerSession" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCsOperator" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerStatusSnapshot" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoReportCustomerLink" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoContractSnapshot" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoNewsProperty" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCustomerConfig" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoOrderSnapshot" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCsRole" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCsMenuPrivilegeBind" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoInstrumentRiskControl" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCsPrivilege" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoInstrument" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BatchStepExecutionSeq" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoCsTask" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BoProductSnapshot" />
        <mapping class="jp.emcom.adv.bo.core.dao.po.main.BatchJobExecutionSeq" />
    </session-factory>
</hibernate-configuration>
