<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="com.emcom.jtools"
   name="JTools Plug-in"
   version="0.1"
   provider-name="emcom"
   class="com.emcom.jtools.JToolsPlugin">

   <runtime>
      <library name="jtools.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>
   
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="viewerContribution"
            targetID="#CompilationUnitEditorContext">
         <action
               label="Generate to&amp;String()"
               class="com.emcom.jtools.actions.ToStringGeneratorVAD"
               icon="icons/tostring.gif"
               menubarPath="generate.viewer/string"
               id="tostring.viewerContribution.action"/>
         <action
               label="Generate E&amp;xternalizable"
               icon="icons/externalizable.gif"
               class="com.emcom.jtools.actions.ExternalizableGeneratorVAD"
               menubarPath="generate.viewer/externalizable"
               id="externalizable.viewerContribution.action"/>
         <action
               label="Generate &amp;Enumeration"
               icon="icons/enumeration.gif"
               class="com.emcom.jtools.actions.EnumerationGeneratorVAD"
               menubarPath="generate.viewer/enumeration"
               id="enumeration.viewerContribution.action"/>
         <menu
               label="&amp;jtools"
               path="group.additions"
               id="generate.viewer">
            <groupMarker name="string"/>
            <groupMarker name="externalizable"/>
            <groupMarker name="enumeration"/>
         </menu>
      </viewerContribution>

      <objectContribution
            adaptable="false"
            id="objectContribution"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               label="Generate to&amp;String()"
               icon="icons/tostring.gif"
               class="com.emcom.jtools.actions.ToStringGeneratorOAD"
               menubarPath="generate.object/string"
               id="tostring.objectContribution.action"/>
         <action
               label="Generate &amp;Externalizable"
               icon="icons/externalizable.gif"
               class="com.emcom.jtools.actions.ExternalizableGeneratorOAD"
               menubarPath="generate.object/externalizable"
               id="externalizable.objectContribution.action"/>
         <action
               label="Generate &amp;Enumeration"
               icon="icons/enumeration.gif"
               class="com.emcom.jtools.actions.EnumerationGeneratorOAD"
               menubarPath="generate.object/enumeration"
               id="enumeration.objectContribution.action"/>
         <menu
               label="&amp;jtools"
               path="group.additions"
               id="generate.object">
            <groupMarker name="string"/>
            <groupMarker name="externalizable"/>
            <groupMarker name="enumeration"/>
         </menu>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="com.emcom.jtools.preferences.JToolsPreferencesPage"
            id="jtools"
            name="jtools"/>
      <page
            class="com.emcom.jtools.preferences.ToStringPreferencesPage"
            category="jtools"
            name="toString()"
            id="tostring.page"/>
      <page
            class="com.emcom.jtools.preferences.ExternalizablePreferencesPage"
            category="jtools"
            name="Externalizable"
            id="externalizable.page"/>
      <page
            class="com.emcom.jtools.preferences.EnumerationPreferencesPage"
            category="jtools"
            name="Enumeration"
            id="enumeration.page"/>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.emcom.jtools.preferences.PreferenceInitializer"/>
   </extension>

</plugin>
